@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
    Layout = "_IdentityLayout";
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="account-card-lg">
<h1 class="text-red">Manage Your Account</h1>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
