@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Delete Account";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row">
<h3>@ViewData["Title"]</h3>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn account-btn">Delete</a>
        </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
