@model WorkoutPlannerWebApp.ViewModels.ExercisesViewModels.DetailExerciseViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
<h1>@Model.Exercise.Name</h1>

<div>
    <hr />
    <dl class="row">
        @*<dt class = "details-col-label">
            Primary Muscle Groups
        </dt>
        <dd class = "details-data">
            Chest, Legs
        </dd>
        <dt class = "details-label">
            Secondary Muscle Groups
        </dt>
        <dd class = "details-data">
            Chest, Legs
        </dd>*@
        <dt class = "details-label">
            Description
        </dt>
        <dd class = "details-data">
            @Model.Exercise.Description
        </dd>
        <dt class = "details-label">
            Tutorial Video Link
        </dt>
        <dd class = "details-data">
            <a href="@Model.Exercise.TutorialVideoLink" target="_blank" style="text-decoration: underline;">Click here to view how to do the @Model.Exercise.Name</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">View Exercises</a>
</div>
</div>
