@model WorkoutPlannerWebApp.ViewModels.ExercisesViewModels.DetailExerciseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Exercise.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Primary Muscle Groups
        </dt>
        <dd class = "col-sm-10">
            Chest, Legs
        </dd>
        <dt class = "col-sm-2">
            Secondary Muscle Groups
        </dt>
        <dd class = "col-sm-10">
            Chest, Legs
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Model.Exercise.Description
        </dd>
        <dt class = "col-sm-2">
            Tutorial Video Link
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.Exercise.TutorialVideoLink" target="_blank">View how to do the @Model.Exercise.Name</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">View Exercises</a>
</div>
