@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>Thank you for confirming you email. Click <a class="text-primary" asp-controller="MyWorkoutPrograms" asp-action="" title="Login">here</a> to login now!</p>
