@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}


<div class="account-container">
<div class="account-card">

<h1 class="text-red">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

</div>
</div>
