@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="account-container">
<div class="account-card">
        
<h1 class="text-red">@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-lg account-btn">Resend</button>
        </form>
</div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
