@model WorkoutPlannerWebApp.ViewModels.MyWorkoutProgramsViewModels.CreateWorkoutPhaseViewModel

@{
    ViewData["Title"] = "Create Workout Phase";
}

<h1>Create Workout Phase</h1>
<br />
<div class="row">
    <div class="col-12">
        <form asp-action="CreateWorkoutPhase">
            <input asp-for="WorkoutProgram.Id" readonly hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkoutPhase.Name" class="control-label"></label>
                <input asp-for="WorkoutPhase.Name" class="form-control" autofocus />
                <span asp-validation-for="WorkoutPhase.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutPhase.Duration" class="control-label"></label>
                <input asp-for="WorkoutPhase.Duration" class="form-control" />
                <span asp-validation-for="WorkoutPhase.Duration" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutPhase.PhaseDetails" class="control-label"></label>
                <input asp-for="WorkoutPhase.PhaseDetails" class="form-control" />
                <span asp-validation-for="WorkoutPhase.PhaseDetails" class="text-danger"></span>
            </div>
            <br />
            <div class="row justify-content-between">
                <span class="col-auto">
                    <a asp-action="ViewWorkoutPhases" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-secondary">Back</a>
                </span>
                <span class="col-auto">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </span>
            </div>  
        </form>
    </div>
</div>

<br /> 


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
