@using WorkoutPlannerWebApp.HelperMethods
@model WorkoutPlannerWebApp.ViewModels.CreateMyWorkoutProgramViewModel

@{
    ViewData["Title"] = "Create Workout Program";
}

<h1>Create Your Workout Program</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkoutProgram.Name" class="control-label"></label>
                <input asp-for="WorkoutProgram.Name" class="form-control" />
                <span asp-validation-for="WorkoutProgram.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutProgram.ShortDescription" class="control-label"></label>
                <input asp-for="WorkoutProgram.ShortDescription" class="form-control" />
                <span asp-validation-for="WorkoutProgram.ShortDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutProgram.Difficulty" class="control-label"></label>
                <select asp-for="WorkoutProgram.Difficulty" class="form-control" asp-items="Html.GetEnumSelectList<Difficulty>()">
                  <option value="">-- Select Difficulty --</option>
                </select>
                <span asp-validation-for="WorkoutProgram.Difficulty" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutProgram.LongDescription" class="control-label"></label>
                <textarea asp-for="WorkoutProgram.LongDescription" class="form-control" style="resize:none; min-height:200px;"></textarea>
                <span asp-validation-for="WorkoutProgram.LongDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WorkoutProgram.Published" />Publish
                </label>
            </div>
            <br />
            <div class="row justify-content-between">
                <span class="col-auto">
                    <a asp-action="Index" class="btn btn-secondary">Back</a>
                </span>
                <span class="col-auto">
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </span>
            </div>
        </form>
    </div>
</div>

            <CKEditor:CKEditorControl ID="CKEditor" runat="server">
</CKEditor:CKEditorControl>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
}
