@using WorkoutPlannerWebApp.HelperMethods
@model WorkoutPlannerWebApp.ViewModels.MyWorkoutProgramsViewModels.EditWorkoutDayViewModel

@{
    ViewData["Title"] = "Edit Day Details";
}

<h1>Edit Day Details</h1>

<div>
    <h4>@Model.WorkoutProgram.Name</h4>
    <hr />

    <h5>Edit Day</h5>
<div class="row">
    <div class="col-12">
        <form asp-action="EditWorkoutDay">
            <input asp-for="WorkoutProgram.Id" readonly hidden />
            <input asp-for="WorkoutPhase.Id" readonly hidden />
            <input asp-for="WorkoutDay.Id" readonly hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutDay.Name" class="control-label"></label>
                <input asp-for="WorkoutDay.Name" class="form-control" />
                <span asp-validation-for="WorkoutDay.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutDay.Description" class="control-label"></label>
                <input asp-for="WorkoutDay.Description" class="form-control" />
                <span asp-validation-for="WorkoutDay.Description" class="text-danger"></span>
            </div>
            <br />
            <div class="row justify-content-between">
                <span class="col-auto">
                    <a asp-action="ViewWorkoutPhases" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-secondary">Back</a>
                </span>
                <span class="col-auto">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </span>
            </div>  
        </form>
    </div>
</div>
<br />
</div>
      

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
