@model WorkoutPlannerWebApp.ViewModels.MyWorkoutProgramsViewModels.EditWorkoutPhaseViewModel

@{
    ViewData["Title"] = "Edit Workout Phase";
}

<div class="container mt-5">
<h1>Edit Workout Phases</h1>

<div class="row">
    <div class="col-12">
        <form asp-action="EditWorkoutPhase">
            <input asp-for="WorkoutProgram.Id" readonly hidden />
            <input asp-for="WorkoutPhase.Id" readonly hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkoutPhase.Name" class="control-label"></label>
                <input asp-for="WorkoutPhase.Name" class="form-control" autofocus />
                <span asp-validation-for="WorkoutPhase.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutPhase.Duration" class="control-label"></label>
                <input asp-for="WorkoutPhase.Duration" class="form-control" />
                <span asp-validation-for="WorkoutPhase.Duration" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="WorkoutPhase.PhaseDetails" class="control-label"></label>
                <input asp-for="WorkoutPhase.PhaseDetails" class="form-control" />
                <span asp-validation-for="WorkoutPhase.PhaseDetails" class="text-danger"></span>
            </div>
            <br />
            <div class="row justify-content-between">
                <span class="col-auto">
                    <a asp-action="ViewWorkoutPhases" asp-route-id="@Model.WorkoutPhase.WorkoutProgram.Id" class="btn btn-dark">Back</a>
                </span>
                <span class="col-auto">
                    <input type="submit" value="Update" class="btn btn-red" />
                </span>
            </div>  
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
