html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Create Workout Phase View Page */
.flex {
    display: flex !important;
}

.split-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5px 0px;
}

.split-row-col {
    display: flex;
    flex-direction: column;
}