:root {
    --black: #010A10;
    --lightBlack: #211D21;
    --white: #FFFBF2;
    --cream: #DFE2DB;
    --darkRed: #800000;
    --medRed: #A50113;
    --normalRed: #A50113;
    --lightRed: #C10206;
    --darkGrey: #A9A9A9;
    --medGrey: #C0C0C0;
    --normalGrey: #D3D3D3;
    --lightGrey: #E8E8E8;
}

html {
    height: 100%;
    font-size: 1rem;
}

body {
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 60px;
    font-size: 1rem;
}

nav {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    background-color: var(--darkRed);
    color: var(--lightRed);
}

.nav-link {
    color: var(--cream);
}
.nav-link:hover {
    color: var(--black);
}
.active {
    color: var(--cream) !important;
    background-color: var(--lightRed) !important;
}

.navbar-brand {
    color: var(--cream);
}
.navbar-brand:hover {
    color: var(--black);
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

h5 {
    font-weight: 600;
    color: var(--normalRed);
}

table {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--lightRed);
}


/* Custom Styles */
.btn-dark {
    background-color: var(--lightBlack);
    color: white;
}
.btn-dark:hover {
}

.btn-red {
    background-color: var(--lightRed);
    color: white;
}
.btn-red:hover {
    color: white;
}

text-red {
    color: var(--lightRed);
}

hr.hr-red {
    color: var(--darkRed);
}

.custom-alink {
    color: white;
    text-decoration: none;
}

.black-alink {
    color: black;
    text-decoration: none;
}
.black-alink:hover {
    color: var(--lightRed);
    text-decoration: none;
}

.custom-alink:hover {
    color: black;
}

.details-col-label {
    width: 15%;
}
.details-col-data {
    width: 85%;
}

.bg-cream {
    background-color: var(--cream);
}

.bg-light-red {
    background-color: var(--lightRed);
}

.text-red {
    color: var(--lightRed);
}

.my-footer{
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
}



/* Home Index View Page */
.hero-container {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/victor-freitas-WvDYdXDzkhs-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    width: 80%;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-btn {
    color: black;
    padding: 5px;
    color: var(--cream);
    background-color: var(--lightRed);
    transition: 200ms;
}
.hero-btn:hover {
    color: var(--cream);
    transform: scale(1.1);
}

/* Exercises Index View Page */
.exercise-thead {
    background-color: var(--darkRed);
}

.default-table tbody tr th a {
    color: var(--black);
}
.default-table tbody tr th a:hover {
    color: var(--lightRed);
}


.default-table tbody tr td a {
    color: var(--black);
}
.default-table tbody tr td a:hover {
    color: var(--lightRed);
}

.default-table tbody tr:nth-child(1n+1) {
    background-color: var(--cream);
    color: black;
}

.default-table tbody tr:nth-child(2n) {
    background-color: var(--white);
    color: black;
}

.exercise-btn {
    color: var(--cream);
    background-color: var(--lightRed);
    transition: 200ms;
}
.exercise-btn:hover {
    color: var(--cream);
    transform: scale(1.1);
}

thead {
    background-color: var(--lightBlack);
    color: white;
}

tbody tr:nth-child(1n+1) {
    background-color: var(--normalRed);
    color: white;
}

tbody tr:nth-child(2n) {
    background-color: var(--lightRed);
    color: white;
}


/* Exercises Details View Page */
dd a {
    color: var(--black);
}
dd a:hover {
    color: var(--lightRed);
}


/* HOME / DETAILS VIEW */
.workout-phase-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0px;
    box-shadow: 1px 1px 8px var(--darkGrey);
}

.workout-phase-container h5 a {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    color: var(--normalRed);
    text-decoration: none;
}

.workout-phase-container div b {
    font-weight: 600;
}

/* HOME / PHASE DETAILS VIEW */
div.workout-day-container {
    padding: 20px 20px;
}

thead {
    background-color: var(--lightBlack);
    color: white;
}

tbody tr:nth-child(1n+1) {
    background-color: var(--cream);
    color: black;
}

tbody tr:nth-child(2n) {
    background-color: white;
    color: black;
}

.workout-day-summary {
    font-weight: 600;
    color: var(--normalRed);
    font-size: 1.2rem;
    font-family: 'Barlow', sans-serif;
    transition: 200ms;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: var(--details-height-open, '100%');
    }
}

.workout-day-summary h5 span {
    cursor: pointer;
}

.workout-day-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


/* My Workout Programs / View Workout Phases */
.workout-phase-container-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
}

.workout-phase-info-edit {
    display: flex;
    flex-direction: column;
}

.workout-phase-info-edit h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.workout-phase-btns-edit {
    display: flex;
    flex-direction: column;
}
.workout-phase-btns-edit a {
    font-size: 1.5rem;
}


/* Create Workout Phase View Page */
.flex {
    display: flex !important;
}

.split-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5px 0px;
}

.split-row-col {
    display: flex;
    flex-direction: column;
}


/* WorkoutPrograms Index View Page */
.workout-program-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 1px 1px 8px var(--darkGrey);
    transition: 200ms;
}

.workout-program-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
}

.workout-program-info h5 a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--normalRed);
    text-decoration: none;
    transition: 200ms;
}
.workout-program-info h5 a:hover {
    color: var(--black);
}

.workout-program-info div i {
    font-weight: 600;
}

.workout-program-info div b {
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}

.workout-program-btns {
    width: 10%;
    max-width: 25px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2px;
    align-items: center;
}

.workout-program-edit-btn {
    font-size: 1.5rem;
    color: var(--black) !important;
}

.workout-program-del-btn {
    font-size: 1.5rem;
    color: var(--lightRed) !important;
    margin: 25px 0 0 0;
    background: none;
    border: none;
}





/* Account style */

.account-background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/victor-freitas-WvDYdXDzkhs-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.account-card {
    display: block;
    max-width: 500px;
    width: 90%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 150px auto;
}

.account-card-lg {
    display: block;
    max-width: 800px;
    width: 90%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 150px auto;
}

.account-btn {
    color: var(--cream);
    background-color: var(--lightRed);
    transition: 200ms;
}
.account-btn:hover {
    color: var(--cream);
    transform: scale(1.02);
}








@media only screen and (max-width: 768px) {

    /* Custom Styles */

    .details-col-label {
        width: 100%;
    }

    .details-col-data {
        width: 100%;
    }

    /* Account style */
}


